@import "./reset.css";
@import "./bootstrap-grid.css";

body{
  box-sizing: border-box;
  font-family: sans-serif;
  min-width: 100ww  ;
  background-color: rgb(255, 245, 227);
}

.header-of-site{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: rgb(174, 174, 174);
  background-color: #292c46;
  padding: 25px;
}

.site-navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.nav-link{
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: inherit;
}

.logo{
  font-size: 2rem;
  font-weight: lighter;
}

.heading-of-adv{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.content{
  font-size: 0.9rem;
  color: gray;
  text-align: center;
  font-weight: 100;
  line-height: 20px;
}

.image{
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.art-adv{
  margin-bottom: 40px;
}

.block-advanrages{
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  background-color: white;
}

.art-adv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
